@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


body {
    font-family: 'Black Ops One', sans-serif;
    font-size: 62.5%;
}



header {
    background: #881414 url('../images/Cyberpunk.jpg') center center;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title p,h1 {
    margin: 15px auto;
}

.title h1 {
    font-size: 2rem;
}

.title p {
    font-size: 1.4rem;
 }

header div.title {
    margin:10px auto;
    border: 5px ridge rgb(0, 0, 0);
    min-width: 200px;
    width: 60%;
    animation: animacao-header 2s linear infinite;
    background-color: rgba(0, 0, 0, 0.8);
}


@keyframes animacao-header {
    0% {
        color: #A407EB;
    }

    50% {
        color: #EB00E4;
    }

    100% {
        color: #9D6EF0;
    }
}

header p.p1 {
    text-align: center;
}

header p.p2 {
    text-align: center;
}

header h1 {
    text-align: center;
}

@media screen and (max-width:600px) {

    header div.title {
        width: 85%;

    }

}